<SettingsGroup
  @label="Work"
  @prefix="work"
  @sliderColor="green"
  @time={{this.settings.workTime}}
  @timeChanged={{this.workTimeChanged}}
/>

<SettingsGroup
  @label="Short Break"
  @prefix="short-break"
  @sliderColor="yellow"
  @time={{this.settings.shortBreakTime}}
  @timeChanged={{this.shortBreakTimeChanged}}
/>

<SettingsGroup
  @label="Long Break"
  @prefix="long-break"
  @sliderColor="red"
  @time={{this.settings.longBreakTime}}
  @timeChanged={{this.longBreakTimeChanged}}
/>

<div class="action-buttons">
  <button type="button" id="apply-changes" {{on 'click' this.resetTimer}}>Apply Changes and Reset Timer</button>
</div>