<div class="slider-container">
  <input
    type="range"
    class="slider {{@color}}"
    min={{@min}}
    max={{@max}}
    step={{@step}}
    value={{@value}}
    {{on 'input' this.valueChanged}}
    ...attributes
  />
  <div class="track"
    style={{html-safe (concat "left: " this._left "px;")}}
    {{did-insert this._setTrackElement}}
  >
  </div>
</div>