<div class="progress-ring__container">
  <ProgressRing
    @radius="120"
    @strokeWidth="6"
    @strokeColor={{this.strokeColor}}
    @percent={{this.percent}}
  />
</div>

<div class="timer-page__display">{{from-duration @timeLeft}}</div>

<button
  type="button"
  id="toggle-start-pause"
  class={{if @paused 'timer-page__start' 'timer-page__pause'}}
  {{on "click" this.togglePause}}
>
  <FaIcon @icon={{if @paused 'play' 'pause'}} />
</button>