<h1>Pomodoro Timer</h1>

<main class="content">
  {{outlet}}
</main>

<footer>
  <div>
    <Link @route="timer" as |link|>
      <button
        type="button"
        id="timer"
        class="{{if link.isActive 'active'}}"
        {{on "click" link.transitionTo}}
      >
        <FaIcon @icon="clock" aria-hidden="true"/>
        Timer
      </button>
    </Link>
  </div>
  <div>
    <Link @route="settings" as |link|>
      <button
        type="button"
        id="settings"
        class="{{if link.isActive 'active'}}"
        {{on "click" link.transitionTo}}
      >
        <FaIcon @icon="cog" aria-hidden="true" />
        Settings
      </button>
    </Link>
  </div>
  <div>
    <Link @route="history" as |link|>
      <button
        type="button"
        id="history"
        class="{{if link.isActive 'active'}}"
        {{on "click" link.transitionTo}}
      >
        <FaIcon @icon="history" aria-hidden="true" />
        History
      </button>
    </Link>
  </div>
</footer>